.padding-header {
    padding-top: 120px !important;
}

.form-border {
    border: 1px solid #000;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07),
    0 2px 4px rgba(0,0,0,0.07),
    0 4px 8px rgba(0,0,0,0.07),
    0 8px 16px rgba(0,0,0,0.07),
    0 16px 32px rgba(0,0,0,0.07),
    0 32px 64px rgba(0,0,0,0.07);
}

.Contact {
    font-size: 40px;
}

.paddingLengte {
    padding-top: 20px;
    padding-bottom: 20px;
}

.padding-left {
    padding-left: 40px !important;
}

html {
    height: 100%;
}
body {
    min-height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
}
.content {
    padding: 20px;
}
.footer {
    grid-row-start: 2;
    grid-row-end: 3;
}

.padding-bottom {
    padding-bottom: 70px;
}

.padding-bottom-form {
    padding-bottom: 3px;
}