@import url('https://fonts.googleapis.com/css2?family=Lato&family=PT+Sans&family=Quicksand:wght@700&family=Roboto&display=swap');
.container-shop {
    position: relative;
    width: 100%;
}

.container-shop img {
    width: 100%;
    height: auto;
}

.container-shop button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: white;
    color: black;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.container-shop button:hover {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: black;
    color: white;
    font-size: 17px;
    padding: 12px 24px;
    border: 1px solid white;
    cursor: pointer;
    border-radius: 5px;
}

.border-shop {
    border: 3px solid #000;
    margin: 0;

}

.shop-button {
    width: 214px !important;
    background-color: transparent !important;
    border: 3px solid white !important;
    color: #f6f6f6 !important;
    font-weight: bold;
    font-family: 'Quicksand', sans-serif;


}

.shop-button:hover {

}

.draw-border {
    box-shadow: inset 0 0 0 4px #58afd1;
    color: #58afd1;
    transition: color 0.25s 0.0833333333s;
    position: relative;
}
.draw-border::before, .draw-border::after {
    border: 0 solid transparent;
    box-sizing: border-box;
    content: "";
    pointer-events: none;
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    right: 0;
}
.draw-border::before {
    border-bottom-width: 4px;
    border-left-width: 4px;
}
.draw-border::after {
    border-top-width: 4px;
    border-right-width: 4px;
}
.draw-border:hover {
    color: #ffe593 !important;
}
.draw-border:hover::before, .draw-border:hover::after {
    border-color: #ffe593;
    transition: border-color 0s, width 0.25s, height 0.25s;
    width: 100%;
    height: 100%;
}
.draw-border:hover::before {
    transition-delay: 0s, 0s, 0.25s;
}
.draw-border:hover::after {
    transition-delay: 0s, 0.25s, 0s;
}

.btn2 {
    background: black !important;
    color: white !important;
    border: none !important;
    cursor: pointer !important;
    line-height: 1.5 !important;
    font: 700 1.2rem "Roboto Slab", sans-serif !important;
    padding: 1em 2em !important;
    letter-spacing: 0.05rem !important;
}
.btn2:focus {
    outline: 2px dotted #55d7dc;
}


img {
    margin: 50px;
    filter: brightness(50%);
}

.margin-shop {
    margin-top: 40px;
}

