h1 {
    font-size: 3rem;
}

.text {
    font-size: 1.2rem;
    max-width: 500px;
    text-align: center;
}

.favicon {
    font-size: 3rem;
}

.text-header {
    text-align: justify;
}

nav {
    font-size: 1.6rem;
}

nav ul li:hover {
    text-decoration:underline;
}

.header {
    font-size: 30px;
    color: #000;
}

.instagram-logo:hover {
    font-weight: bold;
}

.parent {
    background-color: cadetblue;
}

.openingsuren {
    font-size: 35px;
    font-weight: bold;
    color: #fff;
}

.textgrote {
    font-size: 20px;
}

.phone {
    text-decoration: none;
}

.phone:hover {
    font-size: 21px;
    text-decoration: underline;
}

.phone2 {
    text-decoration: none;
}

.phone2:hover {
    font-weight: bold;
}

.icongrote {
    font-size: 25px;
}



.instagram {
    font-size: 12px;
}

.facebook {
    font-size: 12px;
}

.vertical-align {
    vertical-align: center;
    margin: auto;
}

.padding-main {
    padding: 20px;
}

@media screen and (max-width: 1200px) {
    .grote {
        font-size: 15px;
    }

    .phone:hover {
        font-size: 16px;
        text-decoration: underline;
    }
}